

.container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #333;
      width: 80%;
      height: 90vh;
      overflow: hidden;
      border-radius: 7px;
      touch-action: none;
      margin: 0 auto;
}

.drag-element {
    width: 100px;
    position: absolute;
    height: 100px;
    background: #646464;
    cursor: move;
    border-radius: 5px;
}

.drag-element.active {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
}

